<br />
<font size='1'><table class='xdebug-error xe-fatal-error' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Fatal error: Class 'App' not found in D:\WWW\WebServiceBooks\app\Controller\BooksController.php on line <i>2</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0150</td><td bgcolor='#eeeeec' align='right'>140168</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='D:\WWW\WebServiceBooks\app\Controller\BooksController.php' bgcolor='#eeeeec'>..\BooksController.php<b>:</b>0</td></tr>
</table></font>
PHP Fatal error:  Class 'App' not found in D:\WWW\WebServiceBooks\app\Controller\BooksController.php on line 2
PHP Stack trace:
PHP   1. {main}() D:\WWW\WebServiceBooks\app\Controller\BooksController.php:0
